
<div class="container">
<h1>Admin Portal</h1>
<form class="form-login" (ngSubmit)="onSubmit(loginForm)"  #loginForm="">

    <label for="inputUserName" class="sr-only">UserName</label>
    <input type="text" id="inputUserName" name="inputUserName" class="form-control" >

    <br/>
    <div *ngIf="submitted && inputUserName.errors" class="invalid-feedback">
      <span *ngIf="inputUserName.errors.required">Please enter a UserName</span>
    </div><br>


    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control"  >
    <div *ngIf="submitted && password.errors" class="invalid-feedback">
      <span *ngIf="password.errors.required">Please enter a Password</span>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>

